# In this notebook, we divide the data into trimester interval. We use preprocessed content and lda_model from LDA_Content.ipynb

In [1]:
import pickle
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [2]:
lda_list=[]
content_list=[]
for i in range(0,7):    
    lda_list.append('lda_model/lda_model_{}.sav'.format(i))
    content_list.append('content/content_preprocessed-{}.sav'.format(i))

In [3]:
lda=[]
content=[]

for i in range(0,7):
    content.append(pickle.load(open(content_list[i], 'rb')).tolist())
    k=pickle.load(open(lda_list[i], 'rb')).print_topics()
    temp=[]
    for x in range(0, 6):
        temp.append(pickle.load(open(lda_list[i], 'rb')).print_topics()[x][1])
    lda.append(temp)

c:\users\fazam\appdata\local\programs\python\python36\lib\site-packages\gensim\utils.py:860: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [4]:
hash_list=[]
for i in range(0,7):
    subhash=[]
    for j in range(0,6):
        ss=lda[i][j].split(" + ")
        hash_map={}
        for k in ss:
            sss = k.split('*')
            hash_map[sss[1].replace('"','')]=float(sss[0])
        subhash.append(hash_map)
    hash_list.append(subhash)

In [5]:
hash_list

[[{'april': 0.017,
   'custom': 0.016,
   'munoz': 0.027,
   'news': 0.018,
   'offer': 0.024,
   'report': 0.015,
   'tell': 0.015,
   'travel': 0.017,
   'tuesday': 0.017,
   'week': 0.018},
  {'associ': 0.019,
   'chang': 0.026,
   'crew': 0.02,
   'custom': 0.017,
   'express': 0.019,
   'issu': 0.022,
   'munoz': 0.03,
   'polici': 0.019,
   'press': 0.02,
   'respons': 0.018},
  {'carrier': 0.034,
   'fli': 0.018,
   'go': 0.019,
   'hour': 0.017,
   'overbook': 0.017,
   'plan': 0.021,
   'time': 0.019,
   'viral': 0.015,
   'week': 0.019,
   'year': 0.025},
  {'allow': 0.029,
   'board': 0.028,
   'chang': 0.019,
   'employe': 0.018,
   'gate': 0.019,
   'peopl': 0.02,
   'polici': 0.021,
   'ticket': 0.023,
   'travel': 0.036,
   'twitter': 0.021},
  {'aircraft': 0.019,
   'airport': 0.022,
   'aviat': 0.017,
   'employe': 0.018,
   'leav': 0.016,
   'louisvill': 0.016,
   'overbook': 0.017,
   'post': 0.019,
   'report': 0.017,
   'secur': 0.019},
  {'aviat': 0.025,
   'depart': 0.018,
   'doctor': 0.021,
   'leav': 0.018,
   'munoz': 0.022,
   'offic': 0.027,
   'overbook': 0.015,
   'polic': 0.016,
   'secur': 0.015,
   'video': 0.02}],
 [{'apolog': 0.022,
   'attend': 0.033,
   'employe': 0.016,
   'forc': 0.017,
   'happen': 0.017,
   'incid': 0.016,
   'report': 0.017,
   'seat': 0.038,
   'tell': 0.025,
   'ticket': 0.027},
  {'attend': 0.016,
   'aviat': 0.019,
   'depart': 0.023,
   'go': 0.02,
   'incid': 0.02,
   'need': 0.021,
   'offic': 0.017,
   'seat': 0.028,
   'secur': 0.02,
   'tell': 0.017},
  {'airport': 0.016,
   'chang': 0.017,
   'execut': 0.02,
   'expect': 0.016,
   'hear': 0.016,
   'munoz': 0.032,
   'presid': 0.023,
   'question': 0.016,
   'time': 0.016,
   'travel': 0.022},
  {'accord': 0.018,
   'aircraft': 0.034,
   'american': 0.019,
   'carrier': 0.017,
   'crew': 0.021,
   'post': 0.019,
   'report': 0.019,
   'secur': 0.032,
   'tell': 0.018,
   'year': 0.019},
  {'airport': 0.016,
   'busi': 0.019,
   'chang': 0.017,
   'custom': 0.024,
   'like': 0.015,
   'munoz': 0.025,
   'offer': 0.023,
   'seat': 0.021,
   'servic': 0.04,
   'travel': 0.019},
  {'airport': 0.022,
   'chicago': 0.03,
   'fli': 0.018,
   'hour': 0.017,
   'houston': 0.034,
   'plane': 0.024,
   'press': 0.023,
   'spokesman': 0.026,
   'state': 0.025,
   'transport': 0.025}],
 [{'airport': 0.019,
   'american': 0.019,
   'cancel': 0.025,
   'custom': 0.025,
   'give': 0.031,
   'houston': 0.04,
   'plane': 0.018,
   'seat': 0.027,
   'servic': 0.022,
   'world': 0.019},
  {'april': 0.017,
   'depart': 0.029,
   'drag': 0.04,
   'incid': 0.035,
   'offic': 0.02,
   'offici': 0.026,
   'plane': 0.033,
   'right': 0.031,
   'wednesday': 0.017,
   'year': 0.019},
  {'allow': 0.022,
   'board': 0.02,
   'class': 0.023,
   'hour': 0.023,
   'know': 0.021,
   'like': 0.023,
   'newark': 0.036,
   'plane': 0.026,
   'seat': 0.023,
   'time': 0.023},
  {'airport': 0.021,
   'board': 0.021,
   'forc': 0.018,
   'incid': 0.031,
   'intern': 0.023,
   'offic': 0.043,
   'plane': 0.021,
   'remov': 0.022,
   'report': 0.024,
   'seat': 0.022},
  {'aviat': 0.022,
   'chicago': 0.03,
   'citi': 0.02,
   'depart': 0.022,
   'incid': 0.032,
   'offic': 0.057,
   'oper': 0.024,
   'remov': 0.026,
   'report': 0.022,
   'secur': 0.02},
  {'american': 0.028,
   'carrier': 0.029,
   'compani': 0.029,
   'delta': 0.021,
   'houston': 0.022,
   'includ': 0.02,
   'million': 0.031,
   'plan': 0.024,
   'share': 0.023,
   'travel': 0.025}],
 [{'airport': 0.018,
   'chicago': 0.025,
   'citi': 0.021,
   'famili': 0.018,
   'fli': 0.019,
   'long': 0.032,
   'offer': 0.021,
   'state': 0.02,
   'take': 0.018,
   'thursday': 0.025},
  {'anim': 0.035,
   'attend': 0.029,
   'carrier': 0.021,
   'death': 0.029,
   'die': 0.023,
   'famili': 0.024,
   'land': 0.018,
   'overhead': 0.03,
   'pet': 0.019,
   'plane': 0.018},
  {'board': 0.024,
   'famili': 0.021,
   'fli': 0.018,
   'investig': 0.017,
   'land': 0.065,
   'plane': 0.036,
   'post': 0.018,
   'report': 0.02,
   'travel': 0.021,
   'tuesday': 0.02},
  {'airport': 0.019,
   'anim': 0.054,
   'attend': 0.014,
   'board': 0.016,
   'chang': 0.014,
   'custom': 0.014,
   'intern': 0.015,
   'photo': 0.016,
   'servic': 0.023,
   'support': 0.03},
  {'airport': 0.02,
   'american': 0.018,
   'compani': 0.03,
   'delta': 0.021,
   'member': 0.02,
   'offer': 0.035,
   'plan': 0.018,
   'seat': 0.022,
   'servic': 0.019,
   'state': 0.024},
  {'american': 0.03,
   'anim': 0.028,
   'cargo': 0.017,
   'citi': 0.021,
   'death': 0.016,
   'delta': 0.019,
   'fli': 0.02,
   'go': 0.017,
   'pet': 0.023,
   'program': 0.018}],
 [{'airport': 0.031,
   'board': 0.024,
   'chicago': 0.019,
   'crew': 0.028,
   'custom': 0.021,
   'intern': 0.02,
   'plane': 0.03,
   'report': 0.019,
   'seat': 0.031,
   'servic': 0.019},
  {'allow': 0.018,
   'cabin': 0.019,
   'chang': 0.018,
   'chicago': 0.017,
   'fli': 0.032,
   'francisco': 0.021,
   'houston': 0.021,
   'seat': 0.031,
   'stop': 0.019,
   'travel': 0.026},
  {'aircraft': 0.023,
   'airport': 0.021,
   'chicago': 0.023,
   'famili': 0.029,
   'houston': 0.029,
   'servic': 0.019,
   'washington': 0.019,
   'week': 0.022,
   'year': 0.022,
   'york': 0.026},
  {'administr': 0.019,
   'american': 0.029,
   'attend': 0.024,
   'chang': 0.019,
   'famili': 0.04,
   'govern': 0.023,
   'polici': 0.034,
   'post': 0.017,
   'transport': 0.019,
   'travel': 0.026},
  {'aircraft': 0.02,
   'american': 0.022,
   'carrier': 0.022,
   'delta': 0.017,
   'offer': 0.02,
   'oper': 0.021,
   'seat': 0.026,
   'servic': 0.018,
   'state': 0.021,
   'travel': 0.02},
  {'airport': 0.019,
   'author': 0.022,
   'cabin': 0.022,
   'countri': 0.019,
   'crew': 0.019,
   'govern': 0.025,
   'leav': 0.025,
   'oper': 0.028,
   'rout': 0.02,
   'state': 0.023}],
 [{'aircraft': 0.019,
   'carrier': 0.02,
   'compani': 0.019,
   'denver': 0.018,
   'million': 0.028,
   'oper': 0.029,
   'rout': 0.021,
   'servic': 0.021,
   'share': 0.019,
   'year': 0.019},
  {'airport': 0.031,
   'attend': 0.039,
   'chicago': 0.025,
   'daili': 0.025,
   'intern': 0.019,
   'issu': 0.018,
   'land': 0.02,
   'seat': 0.027,
   'servic': 0.02,
   'statement': 0.022},
  {'american': 0.017,
   'know': 0.017,
   'land': 0.019,
   'pilot': 0.023,
   'plane': 0.026,
   'point': 0.019,
   'report': 0.017,
   'seat': 0.017,
   'tell': 0.02,
   'time': 0.019},
  {'attend': 0.043,
   'board': 0.032,
   'check': 0.021,
   'class': 0.022,
   'custom': 0.021,
   'delta': 0.021,
   'experi': 0.018,
   'line': 0.019,
   'offer': 0.019,
   'travel': 0.018},
  {'airport': 0.032,
   'boe': 0.041,
   'denver': 0.043,
   'francisco': 0.033,
   'intern': 0.024,
   'land': 0.031,
   'pilot': 0.045,
   'plane': 0.026,
   'report': 0.025,
   'servic': 0.018},
  {'american': 0.018,
   'avail': 0.022,
   'boe': 0.031,
   'check': 0.043,
   'delta': 0.021,
   'fee': 0.053,
   'increas': 0.019,
   'price': 0.028,
   'seat': 0.025,
   'ticket': 0.024}],
 [{'american': 0.021,
   'boe': 0.027,
   'hour': 0.022,
   'incid': 0.035,
   'offic': 0.021,
   'passeng': 0.028,
   'plan': 0.026,
   'plane': 0.028,
   'seat': 0.033,
   'tell': 0.021},
  {'airport': 0.021,
   'arriv': 0.02,
   'avail': 0.027,
   'boe': 0.018,
   'deal': 0.034,
   'depart': 0.024,
   'inform': 0.02,
   'land': 0.024,
   'travel': 0.019,
   'york': 0.018},
  {'angel': 0.021,
   'book': 0.05,
   'busi': 0.018,
   'chang': 0.017,
   'custom': 0.034,
   'employe': 0.038,
   'offer': 0.017,
   'provid': 0.018,
   'seat': 0.021,
   'travel': 0.025},
  {'angel': 0.027,
   'close': 0.017,
   'expect': 0.029,
   'million': 0.024,
   'offer': 0.021,
   'post': 0.021,
   'seat': 0.018,
   'share': 0.028,
   'travel': 0.017,
   'year': 0.03},
  {'airport': 0.021,
   'angel': 0.067,
   'chang': 0.026,
   'deal': 0.026,
   'friday': 0.025,
   'intern': 0.02,
   'million': 0.027,
   'presid': 0.021,
   'press': 0.021,
   'write': 0.029},
  {'aircraft': 0.029,
   'airport': 0.022,
   'boe': 0.022,
   'carrier': 0.018,
   'custom': 0.02,
   'oper': 0.024,
   'passeng': 0.024,
   'plan': 0.018,
   'seat': 0.03,
   'servic': 0.018}]]

In [6]:
def scoring(hashlist, wordlist):
    each_result= 0
    for x in wordlist:
        if x not in list(hashlist.keys()):
            continue
        else:
            each_result += hashlist[x]
    return each_result

In [8]:
article = pd.read_json("articles.json")
article= article.sort_values(by="publication_timestamp")
article['created_at']=article['publication_timestamp'].apply(lambda x: dt.fromtimestamp(x/1000)).dt.strftime('%Y-%m')
datetime = article['created_at'].drop_duplicates().tolist()

## dx contain classified topic for each article. We compare each word in content with each word in lda_model to generate score and classified by the highest score

In [9]:
trimestering={}
for i in datetime:
    if datetime.index(i)==28:
        trimestering[i] = int((datetime.index(i)-1)/4)
    else:
        trimestering[i]= int(datetime.index(i)/4)
article['trimester']=article['created_at'].map(trimestering)
dx = []
for i in range(0,7):
    x = article[article["trimester"]==i][["article_id","created_at"]].reset_index(drop=True)
    dx.append(x)

In [10]:
dx[0].head()

                             article_id created_at
0  76509020-d093-11e6-8d6f-9f4c7b0f94de    2017-01
1  b5c0ce50-d0a2-11e6-ab89-c11942898bd6    2017-01
2  502a51e0-d0a9-11e6-ab89-c11942898bd6    2017-01
3  61489c80-d0b7-11e6-919c-7789120ed8c4    2017-01
4  2ad85e20-d0c0-11e6-ab89-c11942898bd6    2017-01

In [12]:
for i in range(0,7):
    for j in range(0,6):
        for k in range(0, dx[i].shape[0]):
            dx[i].at[k, "Topic_{}_Score".format(j)]= scoring(hash_list[i][j], content[i][k])

In [13]:
dx[0].Topic_0_Score.value_counts()

0.000    1385
0.017     501
0.015     355
0.033     326
0.018     301
         ...
0.292       1
0.346       1
0.283       1
0.674       1
0.439       1
Name: Topic_0_Score, Length: 1298, dtype: int64

In [14]:
dx[0].head()

,article_id,created_at,Topic_0_Score,Topic_1_Score,Topic_2_Score,Topic_3_Score,Topic_4_Score,Topic_5_Score
0,76509020-d093-11e6-8d6f-9f4c7b0f94de,2017-01,0.000,0.060,0.105,0.028,0.038,0.036
1,b5c0ce50-d0a2-11e6-ab89-c11942898bd6,2017-01,0.000,0.040,0.130,0.028,0.038,0.052
2,502a51e0-d0a9-11e6-ab89-c11942898bd6,2017-01,0.065,0.054,0.094,0.021,0.000,0.088
3,61489c80-d0b7-11e6-919c-7789120ed8c4,2017-01,0.015,0.080,0.168,0.069,0.073,0.146
4,2ad85e20-d0c0-11e6-ab89-c11942898bd6,2017-01,0.000,0.020,0.050,0.000,0.000,0.016

In [15]:
for i in range(0,7):
    for j in range(0, dx[i].shape[0]):
        hcounter=0
        scounter=0
        for counter in range(1,6):
            if dx[i].loc[j, "Topic_{}_Score".format(counter)]>dx[i].loc[j, "Topic_{}_Score".format(hcounter)]:
                scounter=hcounter
                hcounter=counter
            elif dx[i].loc[j, "Topic_{}_Score".format(counter)]>dx[i].loc[j, "Topic_{}_Score".format(scounter)]:
                scounter=counter
            elif scounter==hcounter:
                scounter=counter
        dx[i].at[j, "Which_Topic"]= int(hcounter)
        if dx[i].loc[j, "Topic_{}_Score".format(hcounter)]>1.25* dx[i].loc[j, "Topic_{}_Score".format(scounter)]:
            dx[i].at[j, "Unclear_Topic"]= "No"
        else:
            dx[i].at[j, "Unclear_Topic"]= "Yes, with Topic {}".format(scounter)

In [16]:
dx[0].head()

,article_id,created_at,Topic_0_Score,Topic_1_Score,Topic_2_Score,Topic_3_Score,Topic_4_Score,Topic_5_Score,Which_Topic,Unclear_Topic
0,76509020-d093-11e6-8d6f-9f4c7b0f94de,2017-01,0.000,0.060,0.105,0.028,0.038,0.036,2.0,No
1,b5c0ce50-d0a2-11e6-ab89-c11942898bd6,2017-01,0.000,0.040,0.130,0.028,0.038,0.052,2.0,No
2,502a51e0-d0a9-11e6-ab89-c11942898bd6,2017-01,0.065,0.054,0.094,0.021,0.000,0.088,2.0,"Yes, with Topic 5"
3,61489c80-d0b7-11e6-919c-7789120ed8c4,2017-01,0.015,0.080,0.168,0.069,0.073,0.146,2.0,"Yes, with Topic 5"
4,2ad85e20-d0c0-11e6-ab89-c11942898bd6,2017-01,0.000,0.020,0.050,0.000,0.000,0.016,2.0,No

In [17]:
dx[0]["Which_Topic"].value_counts()

5.0    3806
1.0    2880
3.0    2731
2.0    2538
0.0    2434
4.0    1621
Name: Which_Topic, dtype: int64

In [18]:
dx[0]["Unclear_Topic"].value_counts()

No                   10175
Yes, with Topic 0     1391
Yes, with Topic 1     1162
Yes, with Topic 5      945
Yes, with Topic 4      909
Yes, with Topic 3      812
Yes, with Topic 2      616
Name: Unclear_Topic, dtype: int64

In [19]:
dx[0][dx[0]["Unclear_Topic"]=="Yes, with Topic 0"]

,article_id,created_at,Topic_0_Score,Topic_1_Score,Topic_2_Score,Topic_3_Score,Topic_4_Score,Topic_5_Score,Which_Topic,Unclear_Topic
43,0648ed40-d16a-11e6-ab89-c11942898bd6,2017-01,0.063,0.060,0.044,0.020,0.072,0.056,4.0,"Yes, with Topic 0"
125,71e3f550-d5c4-11e6-a9e9-8b2016dfe8ad,2017-01,0.041,0.000,0.044,0.036,0.000,0.000,2.0,"Yes, with Topic 0"
130,10003c60-d2c5-11e6-ab89-c11942898bd6,2017-01,0.081,0.020,0.038,0.089,0.000,0.000,3.0,"Yes, with Topic 0"
147,927d87e0-d43e-11e6-ad25-9bd934315e4c,2017-01,0.040,0.043,0.000,0.019,0.000,0.000,1.0,"Yes, with Topic 0"
165,b86880a0-d582-11e6-ab89-c11942898bd6,2017-01,0.224,0.000,0.265,0.036,0.070,0.000,2.0,"Yes, with Topic 0"
...,...,...,...,...,...,...,...,...,...,...
15900,ae143b20-2c40-11e7-b065-c11942898bd6,2017-04,0.266,0.276,0.165,0.212,0.089,0.227,1.0,"Yes, with Topic 0"
15954,1ab2dd30-2c8d-11e7-b065-c11942898bd6,2017-04,0.102,0.060,0.019,0.000,0.000,0.104,5.0,"Yes, with Topic 0"
15956,e0bd1e60-2c91-11e7-b4a8-65792358983c,2017-04,0.180,0.207,0.069,0.019,0.105,0.119,1.0,"Yes, with Topic 0"
15965,2ca68d80-2ccd-11e7-aba5-d37f0d6d833b,2017-04,0.018,0.000,0.019,0.000,0.000,0.000,2.0,"Yes, with Topic 0"
15995,783cbdd0-2d5b-11e7-b4a8-65792358983c,2017-04,0.184,0.191,0.160,0.040,0.051,0.078,1.0,"Yes, with Topic 0"

In [20]:
dx[0]

,article_id,created_at,Topic_0_Score,Topic_1_Score,Topic_2_Score,Topic_3_Score,Topic_4_Score,Topic_5_Score,Which_Topic,Unclear_Topic
0,76509020-d093-11e6-8d6f-9f4c7b0f94de,2017-01,0.000,0.060,0.105,0.028,0.038,0.036,2.0,No
1,b5c0ce50-d0a2-11e6-ab89-c11942898bd6,2017-01,0.000,0.040,0.130,0.028,0.038,0.052,2.0,No
2,502a51e0-d0a9-11e6-ab89-c11942898bd6,2017-01,0.065,0.054,0.094,0.021,0.000,0.088,2.0,"Yes, with Topic 5"
3,61489c80-d0b7-11e6-919c-7789120ed8c4,2017-01,0.015,0.080,0.168,0.069,0.073,0.146,2.0,"Yes, with Topic 5"
4,2ad85e20-d0c0-11e6-ab89-c11942898bd6,2017-01,0.000,0.020,0.050,0.000,0.000,0.016,2.0,No
...,...,...,...,...,...,...,...,...,...,...
16005,342ef120-2d98-11e7-b065-c11942898bd6,2017-04,0.030,0.020,0.108,0.000,0.193,0.033,4.0,No
16006,48bdcb10-2d9e-11e7-b065-c11942898bd6,2017-04,0.231,0.274,0.301,0.535,0.304,0.272,3.0,No
16007,93799f30-2da3-11e7-b4a8-65792358983c,2017-04,0.175,0.248,0.143,0.186,0.201,0.227,1.0,"Yes, with Topic 5"
16008,5be3baa0-2dae-11e7-b065-c11942898bd6,2017-04,0.166,0.083,0.211,0.282,0.251,0.058,3.0,"Yes, with Topic 4"
16009,3a52f2c0-2db3-11e7-b4a8-65792358983c,2017-04,0.064,0.000,0.074,0.128,0.053,0.056,3.0,No

In [21]:
dx[1]

,article_id,created_at,Topic_0_Score,Topic_1_Score,Topic_2_Score,Topic_3_Score,Topic_4_Score,Topic_5_Score,Which_Topic,Unclear_Topic
0,3e956a80-2dcb-11e7-aba5-d37f0d6d833b,2017-05,0.154,0.340,0.827,0.087,0.875,0.040,4.0,"Yes, with Topic 2"
1,9e7b0bf0-2dc9-11e7-b065-c11942898bd6,2017-05,0.071,0.088,0.016,0.089,0.177,0.119,4.0,No
2,400e03f0-2dcf-11e7-b065-c11942898bd6,2017-05,0.000,0.000,0.000,0.019,0.000,0.000,3.0,No
3,aaeee8a0-2e98-11e7-9360-9bd934315e4c,2017-05,0.000,0.034,0.075,0.019,0.049,0.000,2.0,No
4,fbbcc340-2dd7-11e7-b065-c11942898bd6,2017-05,0.038,0.028,0.016,0.019,0.037,0.022,0.0,"Yes, with Topic 4"
...,...,...,...,...,...,...,...,...,...,...
4862,51d9ace0-8dd5-11e7-83f4-ebb7ea9adb61,2017-08,0.073,0.036,0.192,0.054,0.273,0.475,5.0,No
4863,5c612620-8de4-11e7-83f4-ebb7ea9adb61,2017-08,0.016,0.080,0.325,0.137,0.223,0.497,5.0,No
4864,eae6c690-8e50-11e7-83f4-ebb7ea9adb61,2017-08,0.034,0.017,0.048,0.034,0.071,0.066,4.0,"Yes, with Topic 5"
4865,1e0c48f0-8e57-11e7-83f4-ebb7ea9adb61,2017-08,0.000,0.021,0.126,0.322,0.380,0.093,4.0,"Yes, with Topic 3"
4866,e4ed81d0-8e5e-11e7-83f4-ebb7ea9adb61,2017-08,0.016,0.000,0.032,0.123,0.239,0.398,5.0,No