In [1]:
import pandas as pd

In [2]:
data=pd.read_json("articles.json")

In [3]:
tweet_influencer = pd.read_json('twitter_influencers.json')

In [4]:
tweet_influencer.shape

(16655, 8)

In [5]:
df1 = pd.concat([pd.DataFrame(x) for x in tweet_influencer['social_referrals']], keys=tweet_influencer.index).reset_index(level=1,drop=True)
tweet_influencer = tweet_influencer.drop('social_referrals', axis=1).join(df1).reset_index(drop=True)

In [6]:
tweet_influencer.head()

,twitter_id,twitter_handle,likes_count,followers_count,following_count,statuses_count,max_retweet_value,article_id,twitter_url,favourite_count,rt_count,created_at,description,article_url
0,759251,CNN,1437,41830534,1108,238672,97,336914f0-d1d6-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816358480277815296,110,97,1483470003000,United Airlines is investigating how a baggage...,http://www.cnn.com/2017/01/03/aviation/trapped...
1,1932657667,drudgeheadlines,273,168535,1,133104,68,0648ed40-d16a-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816301537752387584,63,68,1483456427000,A MAN has been arrested after he allegedly lau...,http://www.news.com.au/travel/travel-updates/i...
2,14293310,TIME,517,15966353,410,316491,58,97c8d860-d1ca-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816309417356460032,78,58,1483458306000,"The flight reached an altitude of 27,000 feet.",http://fortune.com/2017/01/03/united-airlines-...
3,14293310,TIME,517,15966353,410,316491,58,97c8d860-d1ca-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816480537397301252,67,48,1483499104000,"The flight reached an altitude of 27,000 feet.",http://fortune.com/2017/01/03/united-airlines-...
4,116502194,globalnews,8901,329225,1142,198323,31,efc970d0-d1b9-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816309410117091329,9,31,1483458304000,United Airlines says it is investigating after...,http://globalnews.ca/news/3157095/united-airli...

In [7]:
tweet_influencer.shape

(21972, 14)

In [8]:
data['publication_timestamp']= pd.to_datetime(data['publication_timestamp'], unit='ms')

In [9]:
data = data.sort_values(by='publication_timestamp',ascending=True)

In [10]:
data.head()

,article_id,authors,contents,excerpt,fb_data,has_video,headline,image_link,keywords,li_data,link,max_velocity,pi_data,publication_timestamp,sentiment,source,topics,tw_data,velocity
3,76509020-d093-11e6-8d6f-9f4c7b0f94de,[Corazon Miller],United Airlines New Year's Day flight bound f...,A man was arrested after it was claimed he had...,"{'total_engagement_count': 1737, 'likes': 0, '...",False,Passenger arrested after United Airlines fligh...,http://media.nzherald.co.nz/webcontent/image/j...,"Business, Aviation, Airlines, Australia, Sydne...",{'li_count': 6},http://www.nzherald.co.nz/business/news/articl...,97.729933,{'pi_count': 0},2017-01-02 02:30:44.514,0,"{'publisher': 'nzherald.co.nz', 'link': 'http:...","[{'id': 2, 'name': 'News'}, {'id': 28, 'name':...",{'tw_count': 100},0.115518
142,b5c0ce50-d0a2-11e6-ab89-c11942898bd6,[Newstalk ZB Staff],United Airlines New Year's Day flight bound f...,A United Airlines New Year's Day flight bound ...,"{'total_engagement_count': 0, 'likes': 0, 'com...",False,United Airlines flight diverted to Auckland af...,http://www.newstalkzb.co.nz/media/16873988/uni...,,{'li_count': 0},http://www.newstalkzb.co.nz/news/national/unit...,0.000000,{'pi_count': 0},2017-01-02 04:19:53.397,0,"{'publisher': 'newstalkzb.co.nz', 'link': 'htt...","[{'id': 2, 'name': 'News'}]",{'tw_count': 0},0.000000
25,502a51e0-d0a9-11e6-ab89-c11942898bd6,[LEXI NELSON],United Airlines New Year's Day flight set to t...,"Unruly passenger goes on abusive, racist rant,...","{'total_engagement_count': 38, 'likes': 0, 'co...",False,United Airlines New Year's Day flight diverts ...,https://resources.stuff.co.nz/content/dam/imag...,"Sport, Entertainment, Business, Motoring, Worl...",{'li_count': 0},http://www.stuff.co.nz/travel/travel-troubles/...,108.874289,{'pi_count': 0},2017-01-02 05:07:09.438,0,"{'publisher': 'stuff.co.nz', 'link': 'http://s...","[{'id': 2, 'name': 'News'}, {'id': 443, 'name'...",{'tw_count': 40},-4.779850
141,61489c80-d0b7-11e6-919c-7789120ed8c4,None,"You are not permitted to download, save or ema...","A man was arrested after an alleged ""racist ra...","{'total_engagement_count': 0, 'likes': 0, 'com...",False,Unruly passenger arrested in Auckland,https://www.odt.co.nz/sites/default/files/stor...,,{'li_count': 0},https://www.odt.co.nz/news/national/unruly-pas...,0.000000,{'pi_count': 0},2017-01-02 06:42:16.000,0,"{'publisher': 'odt.co.nz', 'link': 'https://od...","[{'id': 2, 'name': 'News'}]",{'tw_count': 0},0.000000
64,2ad85e20-d0c0-11e6-ab89-c11942898bd6,None,olice have arrested a badly behaved passenger ...,Police have arrested a badly behaved passenger...,"{'total_engagement_count': 3, 'likes': 0, 'com...",False,Unruly passenger forces flight to divert,http://www.radionz.co.nz/assets/news_crops/180...,"Radio New Zealand, Public Radio, News, Current...",{'li_count': 0},http://www.radionz.co.nz/news/national/321644/...,0.649721,{'pi_count': 0},2017-01-02 07:50:45.250,-1,"{'publisher': 'radionz.co.nz', 'link': 'http:/...","[{'id': 2, 'name': 'News'}, {'id': 668, 'name'...",{'tw_count': 0},0.492976

In [11]:
c1=data[['article_id','publication_timestamp']]
c2=tweet_influencer[['article_id','rt_count','favourite_count']]

In [12]:
article_numberfavorite = c1.merge(c2,on='article_id',how='right')
article_numberfavorite

,article_id,publication_timestamp,rt_count,favourite_count
0,76509020-d093-11e6-8d6f-9f4c7b0f94de,2017-01-02 02:30:44.514,1,0
1,502a51e0-d0a9-11e6-ab89-c11942898bd6,2017-01-02 05:07:09.438,3,1
2,aa204f40-d128-11e6-ab89-c11942898bd6,2017-01-02 20:18:46.452,1,0
3,0648ed40-d16a-11e6-ab89-c11942898bd6,2017-01-03 04:06:38.356,68,63
4,0648ed40-d16a-11e6-ab89-c11942898bd6,2017-01-03 04:06:38.356,7,6
...,...,...,...,...
21967,a9cb80c0-6ab2-11e9-b09a-0fee65c1c139,NaT,2,2
21968,fa44dfb0-6a26-11e9-b09a-0fee65c1c139,NaT,1,1
21969,0967d860-6b5a-11e9-8e10-c9c12ecf2ad3,NaT,1,1
21970,0967d860-6b5a-11e9-8e10-c9c12ecf2ad3,NaT,1,2
21971,0967d860-6b5a-11e9-8e10-c9c12ecf2ad3,NaT,1,0

In [13]:
d = data['fb_data'].apply(pd.Series)

In [14]:
article_fb = pd.concat([data.drop(columns=['fb_data']),d],axis=1)

In [15]:
article_fb.head()

,article_id,authors,contents,excerpt,has_video,headline,image_link,keywords,li_data,link,...,sentiment,source,topics,tw_data,velocity,total_engagement_count,likes,comments,shares,fb_overperforming
3,76509020-d093-11e6-8d6f-9f4c7b0f94de,[Corazon Miller],United Airlines New Year's Day flight bound f...,A man was arrested after it was claimed he had...,False,Passenger arrested after United Airlines fligh...,http://media.nzherald.co.nz/webcontent/image/j...,"Business, Aviation, Airlines, Australia, Sydne...",{'li_count': 6},http://www.nzherald.co.nz/business/news/articl...,...,0,"{'publisher': 'nzherald.co.nz', 'link': 'http:...","[{'id': 2, 'name': 'News'}, {'id': 28, 'name':...",{'tw_count': 100},0.115518,1737.0,0.0,0.0,0.0,NaN
142,b5c0ce50-d0a2-11e6-ab89-c11942898bd6,[Newstalk ZB Staff],United Airlines New Year's Day flight bound f...,A United Airlines New Year's Day flight bound ...,False,United Airlines flight diverted to Auckland af...,http://www.newstalkzb.co.nz/media/16873988/uni...,,{'li_count': 0},http://www.newstalkzb.co.nz/news/national/unit...,...,0,"{'publisher': 'newstalkzb.co.nz', 'link': 'htt...","[{'id': 2, 'name': 'News'}]",{'tw_count': 0},0.000000,0.0,0.0,0.0,0.0,NaN
25,502a51e0-d0a9-11e6-ab89-c11942898bd6,[LEXI NELSON],United Airlines New Year's Day flight set to t...,"Unruly passenger goes on abusive, racist rant,...",False,United Airlines New Year's Day flight diverts ...,https://resources.stuff.co.nz/content/dam/imag...,"Sport, Entertainment, Business, Motoring, Worl...",{'li_count': 0},http://www.stuff.co.nz/travel/travel-troubles/...,...,0,"{'publisher': 'stuff.co.nz', 'link': 'http://s...","[{'id': 2, 'name': 'News'}, {'id': 443, 'name'...",{'tw_count': 40},-4.779850,38.0,0.0,0.0,0.0,NaN
141,61489c80-d0b7-11e6-919c-7789120ed8c4,None,"You are not permitted to download, save or ema...","A man was arrested after an alleged ""racist ra...",False,Unruly passenger arrested in Auckland,https://www.odt.co.nz/sites/default/files/stor...,,{'li_count': 0},https://www.odt.co.nz/news/national/unruly-pas...,...,0,"{'publisher': 'odt.co.nz', 'link': 'https://od...","[{'id': 2, 'name': 'News'}]",{'tw_count': 0},0.000000,0.0,0.0,0.0,0.0,NaN
64,2ad85e20-d0c0-11e6-ab89-c11942898bd6,None,olice have arrested a badly behaved passenger ...,Police have arrested a badly behaved passenger...,False,Unruly passenger forces flight to divert,http://www.radionz.co.nz/assets/news_crops/180...,"Radio New Zealand, Public Radio, News, Current...",{'li_count': 0},http://www.radionz.co.nz/news/national/321644/...,...,-1,"{'publisher': 'radionz.co.nz', 'link': 'http:/...","[{'id': 2, 'name': 'News'}, {'id': 668, 'name'...",{'tw_count': 0},0.492976,3.0,0.0,0.0,0.0,NaN

In [16]:
article_tw = pd.concat([data.drop(columns=['tw_data']),data['tw_data'].apply(pd.Series)],axis=1)
article_tw

,article_id,authors,contents,excerpt,fb_data,has_video,headline,image_link,keywords,li_data,link,max_velocity,pi_data,publication_timestamp,sentiment,source,topics,velocity,tw_count,tw_overperforming
3,76509020-d093-11e6-8d6f-9f4c7b0f94de,[Corazon Miller],United Airlines New Year's Day flight bound f...,A man was arrested after it was claimed he had...,"{'total_engagement_count': 1737, 'likes': 0, '...",False,Passenger arrested after United Airlines fligh...,http://media.nzherald.co.nz/webcontent/image/j...,"Business, Aviation, Airlines, Australia, Sydne...",{'li_count': 6},http://www.nzherald.co.nz/business/news/articl...,97.729933,{'pi_count': 0},2017-01-02 02:30:44.514,0,"{'publisher': 'nzherald.co.nz', 'link': 'http:...","[{'id': 2, 'name': 'News'}, {'id': 28, 'name':...",0.115518,100.0,NaN
142,b5c0ce50-d0a2-11e6-ab89-c11942898bd6,[Newstalk ZB Staff],United Airlines New Year's Day flight bound f...,A United Airlines New Year's Day flight bound ...,"{'total_engagement_count': 0, 'likes': 0, 'com...",False,United Airlines flight diverted to Auckland af...,http://www.newstalkzb.co.nz/media/16873988/uni...,,{'li_count': 0},http://www.newstalkzb.co.nz/news/national/unit...,0.000000,{'pi_count': 0},2017-01-02 04:19:53.397,0,"{'publisher': 'newstalkzb.co.nz', 'link': 'htt...","[{'id': 2, 'name': 'News'}]",0.000000,0.0,NaN
25,502a51e0-d0a9-11e6-ab89-c11942898bd6,[LEXI NELSON],United Airlines New Year's Day flight set to t...,"Unruly passenger goes on abusive, racist rant,...","{'total_engagement_count': 38, 'likes': 0, 'co...",False,United Airlines New Year's Day flight diverts ...,https://resources.stuff.co.nz/content/dam/imag...,"Sport, Entertainment, Business, Motoring, Worl...",{'li_count': 0},http://www.stuff.co.nz/travel/travel-troubles/...,108.874289,{'pi_count': 0},2017-01-02 05:07:09.438,0,"{'publisher': 'stuff.co.nz', 'link': 'http://s...","[{'id': 2, 'name': 'News'}, {'id': 443, 'name'...",-4.779850,40.0,NaN
141,61489c80-d0b7-11e6-919c-7789120ed8c4,None,"You are not permitted to download, save or ema...","A man was arrested after an alleged ""racist ra...","{'total_engagement_count': 0, 'likes': 0, 'com...",False,Unruly passenger arrested in Auckland,https://www.odt.co.nz/sites/default/files/stor...,,{'li_count': 0},https://www.odt.co.nz/news/national/unruly-pas...,0.000000,{'pi_count': 0},2017-01-02 06:42:16.000,0,"{'publisher': 'odt.co.nz', 'link': 'https://od...","[{'id': 2, 'name': 'News'}]",0.000000,0.0,NaN
64,2ad85e20-d0c0-11e6-ab89-c11942898bd6,None,olice have arrested a badly behaved passenger ...,Police have arrested a badly behaved passenger...,"{'total_engagement_count': 3, 'likes': 0, 'com...",False,Unruly passenger forces flight to divert,http://www.radionz.co.nz/assets/news_crops/180...,"Radio New Zealand, Public Radio, News, Current...",{'li_count': 0},http://www.radionz.co.nz/news/national/321644/...,0.649721,{'pi_count': 0},2017-01-02 07:50:45.250,-1,"{'publisher': 'radionz.co.nz', 'link': 'http:/...","[{'id': 2, 'name': 'News'}, {'id': 668, 'name'...",0.492976,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39095,22f57960-6b71-11e9-9225-3fa9c6a5bcbe,[Sean Broderick],Avianca A320 Avianca Holdings Related Media Av...,United Airlines has not leveraged collateral i...,"{'total_engagement_count': 12, 'likes': 4, 'co...",False,United takes no enforcement action in Avianca ...,https://atwonline.com/site-files/atwonline.com...,"Airlines, Daily News, ATW Plus",{'li_count': 0},https://atwonline.com/airlines/united-takes-no...,6.398294,{'pi_count': 0},2019-04-30 17:55:27.350,0,"{'publisher': 'atwonline.com', 'link': 'https:...","[{'id': 464, 'name': 'Transport'}, {'id': 459,...",0.025000,0.0,NaN
39090,dd80f8f0-6b7a-11e9-ada4-e30f7b916ef2,[Lewis Lazare],The new service will mark Chicago-based United...,The new route is the 22nd international destin...,"{'total_engagement_count': 82, 'likes': 48, 'c...",False,United Airlines puts tickets to South Africa o...,https://media.bizj.us/view/img/10999111/united...,"United Continental Holdings, Boeing, Travel, T...",{'li_count': 0},https://www.bizjournals.com/chicago/news/2019/...,0.653534,{'pi_count': 0},2019-04-30 19:05:05.791,0,"{'publisher': 'bizjournals.com', 'link': 'http...","[{'id': 28, 'name': 'Business'}, {'id': 443, '...",0.075000,3.0,NaN
39103,a76fe700-6b82-11e9-9225-3fa9c6a5bcbe,[Sean Broderick],https://aviationweek Home > AWIN_Commercial > ...,United Airlines has not leveraged collateral i...,"{'total_engagement_count': 0, 'likes': 0, 'com...",False,United Takes No Action In Avianca Shareholder ...,https://aviationweek.com/site-files/aviationwe...,AWIN_Commercial,{'li_count': 0},https://aviationweek.com/awincommercial/united...,0.000000,{'pi_count': 0},2019-04-30 20:00:51.056,-1,"{'publisher': 'aviationweek.com', 'link': 'htt...","[{'id': 464, 'name': 'Transport'}, {'id': 459,...",0.000000,0.0,NaN
39102,f1f85140-6b96-11e9-9225-3fa9c6a5bcbe,None,Stearn Hodge says he will never forget the hum...,FULL TITLE: 'I had to crawl': Amputee seeks da...,"{'total_engagement_count': 0, 'likes': 0, 'com...",False,'I had to crawl': Amputee seeks damages after ...,,,{'li_count': 0},https://www.freerepublic.com/focus/f-chat/3745...,0.000000,{'pi_count': 0},2019-04-30 22:26:06.036,0,"{'publisher': 'freerepublic.com', 'link': 'htt...","[{'id': 19, 'name': 'Opinion'}, {'id': 24, 'na...",0.000000,0.0,NaN
39101,8fda4f30-6b9c-11e9-9225-3fa9c6a5bcbe,[Erich Martin],"Last week, United Airlines took the first step...","Last week, United Airlines took the first step...","{'total_engagement_count': 0, 'likes': 0, 'com...",False,United Airlines Introduces New Fleet Livery | ...,,,{'li_count': 0},https://www.globaltravelerusa.com/united-airli...,0.000000,{'pi_count': 0},2019-04-30 23:06:18.403,0,"{'publisher': 'globaltravelerusa.com', 'link':...","[{'id': 443, 'name': 'Travel'}, {'id': 12, 'na...",0.000000,0.0,NaN

In [17]:
article_li = pd.concat([data.drop(columns=['li_data']),data['li_data'].apply(pd.Series)],axis=1)
article_li

,article_id,authors,contents,excerpt,fb_data,has_video,headline,image_link,keywords,link,max_velocity,pi_data,publication_timestamp,sentiment,source,topics,tw_data,velocity,li_count
3,76509020-d093-11e6-8d6f-9f4c7b0f94de,[Corazon Miller],United Airlines New Year's Day flight bound f...,A man was arrested after it was claimed he had...,"{'total_engagement_count': 1737, 'likes': 0, '...",False,Passenger arrested after United Airlines fligh...,http://media.nzherald.co.nz/webcontent/image/j...,"Business, Aviation, Airlines, Australia, Sydne...",http://www.nzherald.co.nz/business/news/articl...,97.729933,{'pi_count': 0},2017-01-02 02:30:44.514,0,"{'publisher': 'nzherald.co.nz', 'link': 'http:...","[{'id': 2, 'name': 'News'}, {'id': 28, 'name':...",{'tw_count': 100},0.115518,6
142,b5c0ce50-d0a2-11e6-ab89-c11942898bd6,[Newstalk ZB Staff],United Airlines New Year's Day flight bound f...,A United Airlines New Year's Day flight bound ...,"{'total_engagement_count': 0, 'likes': 0, 'com...",False,United Airlines flight diverted to Auckland af...,http://www.newstalkzb.co.nz/media/16873988/uni...,,http://www.newstalkzb.co.nz/news/national/unit...,0.000000,{'pi_count': 0},2017-01-02 04:19:53.397,0,"{'publisher': 'newstalkzb.co.nz', 'link': 'htt...","[{'id': 2, 'name': 'News'}]",{'tw_count': 0},0.000000,0
25,502a51e0-d0a9-11e6-ab89-c11942898bd6,[LEXI NELSON],United Airlines New Year's Day flight set to t...,"Unruly passenger goes on abusive, racist rant,...","{'total_engagement_count': 38, 'likes': 0, 'co...",False,United Airlines New Year's Day flight diverts ...,https://resources.stuff.co.nz/content/dam/imag...,"Sport, Entertainment, Business, Motoring, Worl...",http://www.stuff.co.nz/travel/travel-troubles/...,108.874289,{'pi_count': 0},2017-01-02 05:07:09.438,0,"{'publisher': 'stuff.co.nz', 'link': 'http://s...","[{'id': 2, 'name': 'News'}, {'id': 443, 'name'...",{'tw_count': 40},-4.779850,0
141,61489c80-d0b7-11e6-919c-7789120ed8c4,None,"You are not permitted to download, save or ema...","A man was arrested after an alleged ""racist ra...","{'total_engagement_count': 0, 'likes': 0, 'com...",False,Unruly passenger arrested in Auckland,https://www.odt.co.nz/sites/default/files/stor...,,https://www.odt.co.nz/news/national/unruly-pas...,0.000000,{'pi_count': 0},2017-01-02 06:42:16.000,0,"{'publisher': 'odt.co.nz', 'link': 'https://od...","[{'id': 2, 'name': 'News'}]",{'tw_count': 0},0.000000,0
64,2ad85e20-d0c0-11e6-ab89-c11942898bd6,None,olice have arrested a badly behaved passenger ...,Police have arrested a badly behaved passenger...,"{'total_engagement_count': 3, 'likes': 0, 'com...",False,Unruly passenger forces flight to divert,http://www.radionz.co.nz/assets/news_crops/180...,"Radio New Zealand, Public Radio, News, Current...",http://www.radionz.co.nz/news/national/321644/...,0.649721,{'pi_count': 0},2017-01-02 07:50:45.250,-1,"{'publisher': 'radionz.co.nz', 'link': 'http:/...","[{'id': 2, 'name': 'News'}, {'id': 668, 'name'...",{'tw_count': 0},0.492976,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39095,22f57960-6b71-11e9-9225-3fa9c6a5bcbe,[Sean Broderick],Avianca A320 Avianca Holdings Related Media Av...,United Airlines has not leveraged collateral i...,"{'total_engagement_count': 12, 'likes': 4, 'co...",False,United takes no enforcement action in Avianca ...,https://atwonline.com/site-files/atwonline.com...,"Airlines, Daily News, ATW Plus",https://atwonline.com/airlines/united-takes-no...,6.398294,{'pi_count': 0},2019-04-30 17:55:27.350,0,"{'publisher': 'atwonline.com', 'link': 'https:...","[{'id': 464, 'name': 'Transport'}, {'id': 459,...",{'tw_count': 0},0.025000,0
39090,dd80f8f0-6b7a-11e9-ada4-e30f7b916ef2,[Lewis Lazare],The new service will mark Chicago-based United...,The new route is the 22nd international destin...,"{'total_engagement_count': 82, 'likes': 48, 'c...",False,United Airlines puts tickets to South Africa o...,https://media.bizj.us/view/img/10999111/united...,"United Continental Holdings, Boeing, Travel, T...",https://www.bizjournals.com/chicago/news/2019/...,0.653534,{'pi_count': 0},2019-04-30 19:05:05.791,0,"{'publisher': 'bizjournals.com', 'link': 'http...","[{'id': 28, 'name': 'Business'}, {'id': 443, '...",{'tw_count': 3},0.075000,0
39103,a76fe700-6b82-11e9-9225-3fa9c6a5bcbe,[Sean Broderick],https://aviationweek Home > AWIN_Commercial > ...,United Airlines has not leveraged collateral i...,"{'total_engagement_count': 0, 'likes': 0, 'com...",False,United Takes No Action In Avianca Shareholder ...,https://aviationweek.com/site-files/aviationwe...,AWIN_Commercial,https://aviationweek.com/awincommercial/united...,0.000000,{'pi_count': 0},2019-04-30 20:00:51.056,-1,"{'publisher': 'aviationweek.com', 'link': 'htt...","[{'id': 464, 'name': 'Transport'}, {'id': 459,...",{'tw_count': 0},0.000000,0
39102,f1f85140-6b96-11e9-9225-3fa9c6a5bcbe,None,Stearn Hodge says he will never forget the hum...,FULL TITLE: 'I had to crawl': Amputee seeks da...,"{'total_engagement_count': 0, 'likes': 0, 'com...",False,'I had to crawl': Amputee seeks damages after ...,,,https://www.freerepublic.com/focus/f-chat/3745...,0.000000,{'pi_count': 0},2019-04-30 22:26:06.036,0,"{'publisher': 'freerepublic.com', 'link': 'htt...","[{'id': 19, 'name': 'Opinion'}, {'id': 24, 'na...",{'tw_count': 0},0.000000,0
39101,8fda4f30-6b9c-11e9-9225-3fa9c6a5bcbe,[Erich Martin],"Last week, United Airlines took the first step...","Last week, United Airlines took the first step...","{'total_engagement_count': 0, 'likes': 0, 'com...",False,United Airlines Introduces New Fleet Livery | ...,,,https://www.globaltravelerusa.com/united-airli...,0.000000,{'pi_count': 0},2019-04-30 23:06:18.403,0,"{'publisher': 'globaltravelerusa.com', 'link':...","[{'id': 443, 'name': 'Travel'}, {'id': 12, 'na...",{'tw_count': 0},0.000000,0

In [18]:
article_pi = pd.concat([data.drop(columns=['pi_data']),data['pi_data'].apply(pd.Series)],axis=1)
article_pi

,article_id,authors,contents,excerpt,fb_data,has_video,headline,image_link,keywords,li_data,link,max_velocity,publication_timestamp,sentiment,source,topics,tw_data,velocity,pi_count
3,76509020-d093-11e6-8d6f-9f4c7b0f94de,[Corazon Miller],United Airlines New Year's Day flight bound f...,A man was arrested after it was claimed he had...,"{'total_engagement_count': 1737, 'likes': 0, '...",False,Passenger arrested after United Airlines fligh...,http://media.nzherald.co.nz/webcontent/image/j...,"Business, Aviation, Airlines, Australia, Sydne...",{'li_count': 6},http://www.nzherald.co.nz/business/news/articl...,97.729933,2017-01-02 02:30:44.514,0,"{'publisher': 'nzherald.co.nz', 'link': 'http:...","[{'id': 2, 'name': 'News'}, {'id': 28, 'name':...",{'tw_count': 100},0.115518,0
142,b5c0ce50-d0a2-11e6-ab89-c11942898bd6,[Newstalk ZB Staff],United Airlines New Year's Day flight bound f...,A United Airlines New Year's Day flight bound ...,"{'total_engagement_count': 0, 'likes': 0, 'com...",False,United Airlines flight diverted to Auckland af...,http://www.newstalkzb.co.nz/media/16873988/uni...,,{'li_count': 0},http://www.newstalkzb.co.nz/news/national/unit...,0.000000,2017-01-02 04:19:53.397,0,"{'publisher': 'newstalkzb.co.nz', 'link': 'htt...","[{'id': 2, 'name': 'News'}]",{'tw_count': 0},0.000000,0
25,502a51e0-d0a9-11e6-ab89-c11942898bd6,[LEXI NELSON],United Airlines New Year's Day flight set to t...,"Unruly passenger goes on abusive, racist rant,...","{'total_engagement_count': 38, 'likes': 0, 'co...",False,United Airlines New Year's Day flight diverts ...,https://resources.stuff.co.nz/content/dam/imag...,"Sport, Entertainment, Business, Motoring, Worl...",{'li_count': 0},http://www.stuff.co.nz/travel/travel-troubles/...,108.874289,2017-01-02 05:07:09.438,0,"{'publisher': 'stuff.co.nz', 'link': 'http://s...","[{'id': 2, 'name': 'News'}, {'id': 443, 'name'...",{'tw_count': 40},-4.779850,0
141,61489c80-d0b7-11e6-919c-7789120ed8c4,None,"You are not permitted to download, save or ema...","A man was arrested after an alleged ""racist ra...","{'total_engagement_count': 0, 'likes': 0, 'com...",False,Unruly passenger arrested in Auckland,https://www.odt.co.nz/sites/default/files/stor...,,{'li_count': 0},https://www.odt.co.nz/news/national/unruly-pas...,0.000000,2017-01-02 06:42:16.000,0,"{'publisher': 'odt.co.nz', 'link': 'https://od...","[{'id': 2, 'name': 'News'}]",{'tw_count': 0},0.000000,0
64,2ad85e20-d0c0-11e6-ab89-c11942898bd6,None,olice have arrested a badly behaved passenger ...,Police have arrested a badly behaved passenger...,"{'total_engagement_count': 3, 'likes': 0, 'com...",False,Unruly passenger forces flight to divert,http://www.radionz.co.nz/assets/news_crops/180...,"Radio New Zealand, Public Radio, News, Current...",{'li_count': 0},http://www.radionz.co.nz/news/national/321644/...,0.649721,2017-01-02 07:50:45.250,-1,"{'publisher': 'radionz.co.nz', 'link': 'http:/...","[{'id': 2, 'name': 'News'}, {'id': 668, 'name'...",{'tw_count': 0},0.492976,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39095,22f57960-6b71-11e9-9225-3fa9c6a5bcbe,[Sean Broderick],Avianca A320 Avianca Holdings Related Media Av...,United Airlines has not leveraged collateral i...,"{'total_engagement_count': 12, 'likes': 4, 'co...",False,United takes no enforcement action in Avianca ...,https://atwonline.com/site-files/atwonline.com...,"Airlines, Daily News, ATW Plus",{'li_count': 0},https://atwonline.com/airlines/united-takes-no...,6.398294,2019-04-30 17:55:27.350,0,"{'publisher': 'atwonline.com', 'link': 'https:...","[{'id': 464, 'name': 'Transport'}, {'id': 459,...",{'tw_count': 0},0.025000,0
39090,dd80f8f0-6b7a-11e9-ada4-e30f7b916ef2,[Lewis Lazare],The new service will mark Chicago-based United...,The new route is the 22nd international destin...,"{'total_engagement_count': 82, 'likes': 48, 'c...",False,United Airlines puts tickets to South Africa o...,https://media.bizj.us/view/img/10999111/united...,"United Continental Holdings, Boeing, Travel, T...",{'li_count': 0},https://www.bizjournals.com/chicago/news/2019/...,0.653534,2019-04-30 19:05:05.791,0,"{'publisher': 'bizjournals.com', 'link': 'http...","[{'id': 28, 'name': 'Business'}, {'id': 443, '...",{'tw_count': 3},0.075000,0
39103,a76fe700-6b82-11e9-9225-3fa9c6a5bcbe,[Sean Broderick],https://aviationweek Home > AWIN_Commercial > ...,United Airlines has not leveraged collateral i...,"{'total_engagement_count': 0, 'likes': 0, 'com...",False,United Takes No Action In Avianca Shareholder ...,https://aviationweek.com/site-files/aviationwe...,AWIN_Commercial,{'li_count': 0},https://aviationweek.com/awincommercial/united...,0.000000,2019-04-30 20:00:51.056,-1,"{'publisher': 'aviationweek.com', 'link': 'htt...","[{'id': 464, 'name': 'Transport'}, {'id': 459,...",{'tw_count': 0},0.000000,0
39102,f1f85140-6b96-11e9-9225-3fa9c6a5bcbe,None,Stearn Hodge says he will never forget the hum...,FULL TITLE: 'I had to crawl': Amputee seeks da...,"{'total_engagement_count': 0, 'likes': 0, 'com...",False,'I had to crawl': Amputee seeks damages after ...,,,{'li_count': 0},https://www.freerepublic.com/focus/f-chat/3745...,0.000000,2019-04-30 22:26:06.036,0,"{'publisher': 'freerepublic.com', 'link': 'htt...","[{'id': 19, 'name': 'Opinion'}, {'id': 24, 'na...",{'tw_count': 0},0.000000,0
39101,8fda4f30-6b9c-11e9-9225-3fa9c6a5bcbe,[Erich Martin],"Last week, United Airlines took the first step...","Last week, United Airlines took the first step...","{'total_engagement_count': 0, 'likes': 0, 'com...",False,United Airlines Introduces New Fleet Livery | ...,,,{'li_count': 0},https://www.globaltravelerusa.com/united-airli...,0.000000,2019-04-30 23:06:18.403,0,"{'publisher': 'globaltravelerusa.com', 'link':...","[{'id': 443, 'name': 'Travel'}, {'id': 12, 'na...",{'tw_count': 0},0.000000,0

In [19]:
c1=data[['article_id','publication_timestamp','sentiment']]
c2=tweet_influencer[['article_id','rt_count','favourite_count']]
c3=article_fb[['article_id','total_engagement_count', 'likes', 'shares', 'comments']]
c4=article_tw[['article_id','tw_count']]
c5=article_li[['article_id','li_count']]
c6=article_pi[['article_id','pi_count']]
c1.set_index('article_id', inplace=True)

In [20]:
c2.set_index('article_id', inplace=True)
c3.set_index('article_id', inplace=True)
c4.set_index('article_id', inplace=True)
c5.set_index('article_id', inplace=True)
c6.set_index('article_id', inplace=True)

In [21]:
c7 = c1.join([c2,c3,c4,c5,c6])

In [22]:
c7.head()

,publication_timestamp,sentiment,rt_count,favourite_count,total_engagement_count,likes,shares,comments,tw_count,li_count,pi_count
article_id,,,,,,,,,,,
00028910-574b-11e8-8772-ef989ddb8d11,2018-05-14 07:47:06.913,-1,NaN,NaN,6.0,3.0,3.0,0.0,0.0,0,0
0002a7e0-a662-11e8-8bfc-ef989ddb8d11,2018-08-22 23:19:58.000,0,14.0,11.0,56.0,24.0,8.0,24.0,21.0,0,0
0002a7e0-a662-11e8-8bfc-ef989ddb8d11,2018-08-22 23:19:58.000,0,5.0,4.0,56.0,24.0,8.0,24.0,21.0,0,0
00047e30-3fe3-11e7-a6c9-ebb7ea9adb61,2017-05-23 18:04:16.000,0,4.0,3.0,46.0,0.0,0.0,0.0,290.0,2,2
00047e30-3fe3-11e7-a6c9-ebb7ea9adb61,2017-05-23 18:04:16.000,0,1.0,0.0,46.0,0.0,0.0,0.0,290.0,2,2

In [23]:
c8=c7.sort_values(by=['publication_timestamp'])

In [24]:
c8.head()

,publication_timestamp,sentiment,rt_count,favourite_count,total_engagement_count,likes,shares,comments,tw_count,li_count,pi_count
article_id,,,,,,,,,,,
76509020-d093-11e6-8d6f-9f4c7b0f94de,2017-01-02 02:30:44.514,0,1.0,0.0,1737.0,0.0,0.0,0.0,100.0,6,0
b5c0ce50-d0a2-11e6-ab89-c11942898bd6,2017-01-02 04:19:53.397,0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,0
502a51e0-d0a9-11e6-ab89-c11942898bd6,2017-01-02 05:07:09.438,0,3.0,1.0,38.0,0.0,0.0,0.0,40.0,0,0
61489c80-d0b7-11e6-919c-7789120ed8c4,2017-01-02 06:42:16.000,0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,0
2ad85e20-d0c0-11e6-ab89-c11942898bd6,2017-01-02 07:50:45.250,-1,NaN,NaN,3.0,0.0,0.0,0.0,0.0,0,0

In [25]:
df1.head()

,article_id,twitter_url,favourite_count,rt_count,created_at,description,article_url
0,336914f0-d1d6-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816358480277815296,110,97,1483470003000,United Airlines is investigating how a baggage...,http://www.cnn.com/2017/01/03/aviation/trapped...
1,0648ed40-d16a-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816301537752387584,63,68,1483456427000,A MAN has been arrested after he allegedly lau...,http://www.news.com.au/travel/travel-updates/i...
2,97c8d860-d1ca-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816309417356460032,78,58,1483458306000,"The flight reached an altitude of 27,000 feet.",http://fortune.com/2017/01/03/united-airlines-...
2,97c8d860-d1ca-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816480537397301252,67,48,1483499104000,"The flight reached an altitude of 27,000 feet.",http://fortune.com/2017/01/03/united-airlines-...
3,efc970d0-d1b9-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816309410117091329,9,31,1483458304000,United Airlines says it is investigating after...,http://globalnews.ca/news/3157095/united-airli...

In [26]:
c8.columns

Index(['publication_timestamp', 'sentiment', 'rt_count', 'favourite_count',
       'total_engagement_count', 'likes', 'shares', 'comments', 'tw_count',
       'li_count', 'pi_count'],
      dtype='object')

In [27]:
groupby_time = c8.groupby(pd.Grouper(key='publication_timestamp', freq='1M'))[['publication_timestamp', 'rt_count', 'favourite_count',
       'total_engagement_count', 'likes', 'shares', 'comments', 'tw_count',
       'li_count', 'pi_count','sentiment']].sum()

In [28]:
groupby_time['grp'] = pd.cut(groupby_time.reset_index()['publication_timestamp'],7,labels=[1,2,3,4,5,6,7]).tolist()
groupby_time_new=groupby_time.groupby('grp')[['rt_count', 'favourite_count',
       'total_engagement_count', 'likes', 'shares', 'comments', 'tw_count',
       'li_count', 'pi_count','sentiment']].sum()

In [29]:
groupby_time_new.head()

,rt_count,favourite_count,total_engagement_count,likes,shares,comments,tw_count,li_count,pi_count,sentiment
grp,,,,,,,,,,
1,198144.0,263577.0,143116880.0,0.0,0.0,0.0,10110410.0,1242125,29938,-6708
2,20771.0,23988.0,4471641.0,0.0,0.0,0.0,289510.0,139478,3057,-1494
3,25790.0,46809.0,1701502.0,0.0,0.0,0.0,207856.0,131425,1804,-612
4,55044.0,115518.0,66617033.0,38242610.0,6493134.0,18561306.0,696521.0,88587,8266,-1530
5,27126.0,58312.0,6619242.0,5031098.0,927713.0,660752.0,171138.0,0,3038,-584

In [30]:
groupby_time_new

,rt_count,favourite_count,total_engagement_count,likes,shares,comments,tw_count,li_count,pi_count,sentiment
grp,,,,,,,,,,
1,198144.0,263577.0,143116880.0,0.0,0.0,0.0,10110410.0,1242125,29938,-6708
2,20771.0,23988.0,4471641.0,0.0,0.0,0.0,289510.0,139478,3057,-1494
3,25790.0,46809.0,1701502.0,0.0,0.0,0.0,207856.0,131425,1804,-612
4,55044.0,115518.0,66617033.0,38242610.0,6493134.0,18561306.0,696521.0,88587,8266,-1530
5,27126.0,58312.0,6619242.0,5031098.0,927713.0,660752.0,171138.0,0,3038,-584
6,4786.0,11167.0,1107792.0,715790.0,117142.0,274986.0,27995.0,0,2595,-290
7,39644.0,82885.0,8038698.0,5355633.0,1324830.0,1358236.0,1565953.0,0,3149,-498

In [31]:
df2 = c8.copy()

In [32]:
df2['created_at'] = df2['publication_timestamp'].apply(lambda x: x.strftime('%Y-%m'))

In [33]:
df2 = df2.reset_index()

In [34]:
from datetime import datetime

In [35]:
df1

,article_id,twitter_url,favourite_count,rt_count,created_at,description,article_url
0,336914f0-d1d6-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816358480277815296,110,97,1483470003000,United Airlines is investigating how a baggage...,http://www.cnn.com/2017/01/03/aviation/trapped...
1,0648ed40-d16a-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816301537752387584,63,68,1483456427000,A MAN has been arrested after he allegedly lau...,http://www.news.com.au/travel/travel-updates/i...
2,97c8d860-d1ca-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816309417356460032,78,58,1483458306000,"The flight reached an altitude of 27,000 feet.",http://fortune.com/2017/01/03/united-airlines-...
2,97c8d860-d1ca-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816480537397301252,67,48,1483499104000,"The flight reached an altitude of 27,000 feet.",http://fortune.com/2017/01/03/united-airlines-...
3,efc970d0-d1b9-11e6-ab89-c11942898bd6,https://twitter.com/any/status/816309410117091329,9,31,1483458304000,United Airlines says it is investigating after...,http://globalnews.ca/news/3157095/united-airli...
...,...,...,...,...,...,...,...
16651,513da1e0-6a12-11e9-9225-3fa9c6a5bcbe,https://twitter.com/any/status/112284785147250...,3,1,1556542763000,A B.C. man says airline officials and airport ...,https://www.cbc.ca/news/canada/british-columbi...
16652,513da1e0-6a12-11e9-9225-3fa9c6a5bcbe,https://twitter.com/any/status/112265730151559...,0,1,1556497333000,A B.C. man says airline officials and airport ...,https://www.cbc.ca/news/canada/british-columbi...
16653,0967d860-6b5a-11e9-8e10-c9c12ecf2ad3,https://twitter.com/any/status/112324287987321...,1,1,1556636946000,Many fliers in California will feel the brunt ...,https://www.sfgate.com/travel/article/Boeing-7...
16654,0967d860-6b5a-11e9-8e10-c9c12ecf2ad3,https://twitter.com/any/status/112324509643707...,2,1,1556637474000,Many fliers in California will feel the brunt ...,https://www.sfgate.com/travel/article/Boeing-7...
16654,0967d860-6b5a-11e9-8e10-c9c12ecf2ad3,https://twitter.com/any/status/112337837676324...,0,1,1556669251000,Many fliers in California will feel the brunt ...,https://www.sfgate.com/travel/article/Boeing-7...

In [36]:
date = sorted(df2['created_at'].drop_duplicates().tolist())

In [37]:
date

['2017-01',
 '2017-02',
 '2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2017-10',
 '2017-11',
 '2017-12',
 '2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04']

In [38]:
trimester={}
for i in range(0, len(date)):
    trimester[date[i]]=floor((i/4))

NameError: name 'floor' is not defined

In [ ]:
from math import floor

In [ ]:
trimester

In [ ]:
trimester['2019-05']=6

In [ ]:
trimester

In [ ]:
df2['trimester'] = df2['created_at'].apply(lambda x: trimester[x])

In [ ]:
group_time = df2.groupby('trimester')

In [ ]:
group_time.sum()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
group_time['trimester']

In [ ]:
group_time.sum()['trimester']

In [ ]:
df2['favourite_count'].fillna(0, inplace=True)

In [ ]:
df2.to_csv('article_statistic.csv')

In [ ]:
df